*{
    margin: 0;
    padding: 0;
}
.header-top{
margin-top: 50px;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h1{
font-size: 60px;
margin-bottom: 10px;
}
.half-width p {
    margin-top: 30px;
    margin-bottom: 75px;
}
.half-width img{
    width: 100%;
}
.jamal{
color: blue;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightblue, darkblue);
    color: white;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
}
section{
    padding-bottom: 150px;
}
.about-area{
    display: inline-block;
    margin-top: 60px;
}
.about-area .half-width h2{
    font-size: 40px;
}